---
---

/* -------------------------------

	Table of Contents:

	> Imports
	> Variables
	> Defauls
	> Global
	> Typography
	> Navigation Bar
	> Main Content
	> Animation

------------------------------- */


/* Defaults ------------------------------- */
@import url('syntax.css');
@import url(https://fonts.googleapis.com/css?family={{ site.doctastic-main-font | replace: " ", "+" }}|{{ site.doctastic-accent-font | replace: " ", "+" }}:300,400,700);

/* Variables ------------------------------- */
$color-primary: {{ site.doctastic-primary-color }};
$color-primary-active: {{ site.doctastic-primary-color-active }};

$color-secondary: {{ site.doctastic-secondary-color }};
$color-secondary-active: {{ site.doctastic-secondary-color-active }};

$color-font-light: #fefefe;
$color-font-dark: #333333;

$color-background-light: #fdfdfd;

$color-accent-gray: #f3f3f3;
$color-accent-gray-active: #eaeaea;

$font-sans-serif-accent: '{{ site.doctastic-accent-font }}', Helvetica, Arial, sans-serif;
$font-sans-serif: '{{ site.doctastic-main-font }}', Helvetica, Arial, sans-serif;

$media-query-break-small: 750px;


/* Defaults ------------------------------- */
::-moz-selection {
    background: $color-primary;
    color: $color-font-light;
    text-shadow: none;
}

::selection {
    background: $color-primary;
    color: $color-font-light;
    text-shadow: none;
}

canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

textarea, input, button { outline: none; }


/* Global --------------------------------- */
* {
    box-sizing: border-box;

    transition: all 0.3s ease;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: $color-background-light;
    font-family: $font-sans-serif;
    color: $color-font-dark;
    font-size: 18px;
}


/* Typography --------------------------------- */
h1 {
	font-family: $font-sans-serif-accent;
	font-size: 2.25em;
	font-weight: 600;
	margin: 0;
	margin-bottom: .75em;
}

h2 {
	font-family: $font-sans-serif-accent;
	margin: 0;
	margin-bottom: 1em;
}

h3 {
	font-family: $font-sans-serif-accent;
	font-weight: 600;
	margin: 0;
	margin-bottom: 1em;
}

h4 {
	font-family: $font-sans-serif-accent;
	font-weight: 600;
}

p {
	font-size: 1em;
	font-weight: 300;
	line-height: 1.75em;
	margin: 0;
	margin-bottom: 1.5em;
}

strong {
	font-weight: 600;
}

small {
	font-weight: 300;
}

a {
	text-decoration: none;
	color: $color-secondary;
	font-weight: 600;

	i {
		color: $color-secondary;
	}

	&:hover {
		color: $color-secondary-active;

		i {
			color: $color-secondary-active;
		}
	}
}


/* Navigation Bar --------------------------------- */
.navigationBar {
	height: 100vh;
	width: 375px;
	position: fixed;
	background-color: $color-accent-gray;
	overflow-y: scroll;

	.homeLink {
		display: block;
		background-image: url('../images/top-background-image.jpg');
		background-size: cover;

		.logo {
			width: 100%;
			padding: 50px;
			background-color: $color-primary;
			opacity: .95;
			filter: alpha(opacity=95);
		}

		.textLogo {
			display: block;
			padding: 40px;
			width: 100%;
			text-align: center;
			background-color: $color-primary;
			color: $color-font-light;
			font-weight: 300;
			font-size: 56px;
			font-family: $font-sans-serif-accent;
			letter-spacing: 2px;
			opacity: .95;
			filter: alpha(opacity=95);
		}

		small {
			display: block;
			margin-top: -65px;
			position: absolute;
			text-align: center;
			width: 100%;

			.text {
				color: transparent;
				font-weight: 300;
				letter-spacing: 1px;
			}

			i {
				color: transparent;
				font-size: 1.25em;
				padding: 12px;
			}
		}

		&:hover {
			border: none;

			small {
				margin-top: -55px;

				.text {
					color: $color-font-light;
				}

				i {
					color: $color-font-light;
				}
			}
		}
	}

	.search {
		background-color: rgba(255,255,255,.85);
		padding: 20px;

		button {
			background-color: transparent;
			border: none;
			position: absolute;
			padding: 12px 15px;
		}

		input {
			background-color: transparent;
			border: 2px solid $color-primary;
			border-radius: 8px;
			font-size: 16px;
			padding: 12px 12px 12px 45px;
			width: 100%;

			transition: border 0.3s ease;

			&:focus {
				border: 2px solid $color-secondary;
			}
		}
	}

	.modileNavigationButton {
		background-color: $color-primary;
		color: $color-font-light;
		cursor: pointer;
		display: none;
		font-size: 1.15em;
		padding: 20px;
		text-align: center;
		width: 100%;

		i {
			padding-right: 10px;
		}

		@media screen and (max-width: $media-query-break-small) {
			display: block;
		}
	}

	.navigation {
		list-style: none;
		padding: 15px 0;
		margin: 0;

		h4 {
			padding-left: 30px;
			margin-bottom: 10px;
		}

		li {
			font-family: $font-sans-serif-accent;
			font-weight: 400;

			a {
				display: block;
				text-decoration: none;
				color: $color-primary;
				padding: 12px 0;

				i {
					color: transparent;
					font-size: 0.75em;
					padding-top: 7px;
					vertical-align: top;
					width:18%;

					transition: color 0.3s ease, padding-left 0.3s ease;
				}

				.text {
					display: inline-block;
					font-size: 1em;
					font-weight: 600;
					width: 82%;
					padding-right: 30px;

					transition: color 0.3s ease;
				}

				&:hover {
					background-color: $color-accent-gray-active;
					border-bottom: none;

					i {
						color: $color-secondary;
						padding-left: 35px;
					}

					.text {
						color: $color-primary-active;
					}
				}
			}

			.active {
				i {
					color: $color-secondary;
					padding-left: 30px;
				}

				.text {
					color: $color-primary-active;
				}
			}
		}

		@media screen and (max-width: $media-query-break-small) {
			display: none;
		}

		@media screen and (min-width: $media-query-break-small) {
			display: block !important;
		}
	}

	@media screen and (max-width: $media-query-break-small) {
		height: auto;
		overflow-y: visible;
		position: static;
		width: 100%;
	}
}


/* Main Content --------------------------------- */
.mainContent {
	padding: 50px 75px;
	margin-left: 375px;

	.highlight {
		background-color: $color-accent-gray;
		border: 1px solid $color-accent-gray-active;
		border-radius: 5px;
		margin: 0 0 2em 0;
		overflow-x: scroll;
		padding: 5px 25px;
	}

	#searchResults {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			a {
				color: $color-primary;

				li {
					background-color: $color-accent-gray;
					padding: 20px;
					margin-bottom: 20px;

					h3 {
						margin-bottom: 0;
					}

					p {
						margin-bottom: 0;
					}
				}

				&:hover {
					li {
						background-color: $color-primary;

						h3 {
							color: $color-font-light;
						}

						p {
							color: $color-font-light;
						}

						small {
							color: $color-font-light;
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: $media-query-break-small) {
		margin-left: 0;
	}

	.singlePageSection {
		padding-bottom: 50px;

		&:last-child {
			padding-bottom: 0px;
		}

		a {
			h1 {
				color: $color-font-dark;

				i {
					color: $color-accent-gray;
					vertical-align: middle;
					font-size: 20px;
					padding-right: 5px;
					margin-left: -35px;
				}
			}

			&:hover {
				h1 {
					i {
						color: $color-secondary;
					}
				}
			}
		}

		&:after {
		    content: "";
		    display: block;
		    background: $color-accent-gray;
		    width: 100%;
		    height: 4px;
		    padding: 0 75px;
		    margin: 50px 0 0 -75px;
		}

		&:last-child {
			min-height: 100vh;

			&:after {
				display: none;
			}
		}
	}
}


/* Animation --------------------------------- */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
	animation-duration: 0.5s;
	transition-timing-function: ease-in;
	animation-fill-mode: both;
	animation-name: fadeIn;
}