<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/0.7.0/lunr.min.js"></script>
<script type="text/javascript" src="{{ "/javascript/search.js" | prepend: site.github.url }}"></script>
<script type="text/javascript" src="{{ "/javascript/navigationCollapse.js" | prepend: site.github.url }}"></script>
<script type="text/javascript" src="{{ "/javascript/jquery.smoothState.min.js" | prepend: site.github.url }}"></script>
<script type="text/javascript">
;(function ($) {
	'use strict';
	var $body    = $('html, body'),
	content  = $('#main').smoothState({
		onStart : {
			duration: 250,
			render: function () {
				$body.animate({ 'scrollTop': 0 });
			}
		}
	}).data('smoothState');	
})(jQuery);
</script>