<section class="navigationBar">
    <a class="homeLink" href="{{ site.github.url }}">
            {% if site.logo %}
                <img class="logo" src="{{ site.logo | prepend: site.github.url }}" alt="{{ site.title }}" />
            {% else %}
                <span class="textLogo">{{ site.title }}</span>
            {% endif %}
            <small><i class="fa fa-home"></i><span class="text">Documentation Home</span></small>
    </a>
    <div class="search">
            <form id="site_search">
                <button type="submit"><i class="fa fa-search"></i></button><input type="text" placeholder="Search Documentation" id="search_box" />
            </form>
    </div>
    <div class="collapseContainer">
        <div class="modileNavigationButton collapseToggle"><i class="fa fa-bars"></i> Menu</div>
        <ul class="navigation collapse">
            {% if site.data.navigation %}
                {% for nav in site.data.navigation %}
                    <h4>{{ nav.title }}</h4>
                    {% for pageTitle in nav.pages %}

                        {% assign documentation_url = pageTitle | prepend:"/documentation/" | append:".html" %}
                        {% assign documentation = site.documentation | where:"url",documentation_url | first %}

                        {% if documentation %}
                            {% assign url = documentation.url %}
                            {% assign title = documentation.title %}
                        {% else %}
                            {% if pageTitle == "index" %}
                                {% assign standardUrl = "/" %}
                            {% else %}
                                {% assign standardUrl = pageTitle | prepend:"/" | append:".html" %}
                            {% endif %}

                            {% assign pageData = site.pages | where:"url",standardUrl | first %}

                            {% assign url = pageData.url %}
                            {% assign title = pageData.title %}
                        {% endif %}

                        {% if site.page-type and site.page-type == "single" %}
                            {% assign navUrl = pageTitle | prepend: "#" %}
                            {% include navigationLink.html class=pageTitle url=navUrl linkText=title %}
                        {% else %}
                            {% if url == page.url %}
                                {% include navigationLink.html class="active" url=url linkText=title %}
                            {% else %}
                                {% include navigationLink.html url=url linkText=title %}
                            {% endif %}
                        {% endif %}

                    {% endfor %}
                {% endfor %}
            {% else %}
                {% for sitePage in site.pages %}
                    {% if sitePage.title and sitePage.title != "Search" %}
                        {% if site.page-type and site.page-type == "single" %}
                            {% assign url = sitePage.title | slugify | prepend: "#" %}
                            {% assign class = sitePage.title | slugify %}
                            {% include navigationLink.html class=class url=url linkText=sitePage.title %}
                        {% else %}
                            {% if sitePage.url == page.url %}
                                {% include navigationLink.html class="active" url=sitePage.url linkText=sitePage.title %}
                            {% else %}
                                {% include navigationLink.html url=sitePage.url linkText=sitePage.title %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% for documentation in site.documentation %}
                    {% if site.page-type and site.page-type == "single" %}
                        {% assign url = documentation.title | slugify | prepend: "#" %}
                        {% assign class = documentation.title | slugify %}
                        {% include navigationLink.html class=class url=url linkText=documentation.title %}
                    {% else %}
                        {% if documentation.url == page.url %}
                            {% include navigationLink.html class="active" url=documentation.url linkText=documentation.title %}
                        {% else %}
                            {% include navigationLink.html url=documentation.url linkText=documentation.title %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</section>