<section class="singlePageSection">
    <a href="#{{ include.href }}">
        <h1 id="{{ include.sectionId }}">
            <i class="fa fa-link" aria-hidden="true"></i>
            {{ include.title }}
        </h1>
    </a>

    <div class="subHeaderData"><small><a href="{{ site.doctastic-github-repo-url }}edit/gh-pages/{{ include.pagePath }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit on GitHub</a></small></div>

    {{ include.content }}

    <a href="#top">Back to top <i class="fa fa-arrow-circle-up"></i></a>
</section>