---
layout: default
---

{% include sidebar.html %}

<section class="mainContent fadeIn">
    {% if site.doctastic-page-type and site.doctastic-page-type == "single" %}
        <a name="top"></a>
        {% if site.data.navigation %}
            {% for nav in site.data.navigation %}
                {% for pageTitle in nav.pages %}

                    {% assign documentation_url = pageTitle | prepend:"/documentation/" | append:".html" %}
                    {% assign currentPage = site.documentation | where:"url",documentation_url | first %}

                    {% if currentPage == Nil %}
                        {% if pageTitle == "index" %}
                            {% assign standardUrl = "/" %}
                        {% else %}
                            {% assign standardUrl = pageTitle | prepend:"/" | append:".html" %}
                        {% endif %}

                        {% assign currentPage = site.pages | where:"url",standardUrl | first %}
                    {% endif %}

                    {% include singlePageSection.html href=pageTitle sectionId=pageTitle title=currentPage.title content=currentPage.content %}

                {% endfor %}
            {% endfor %}
        {% else %}
            {% for sitePage in site.pages %}
                {% if sitePage.layout == "page" %}
                    {% assign hrefAndId = sitePage.title | slugify %}
                    {% include singlePageSection.html href=hrefAndId sectionId=hrefAndId title=sitePage.title content=sitePage.content %}
                {% endif %}
            {% endfor %}

            {% for documentation in site.documentation %}
                {% assign hrefAndId = documentation.title | slugify %}
                {% include singlePageSection.html href=hrefAndId sectionId=hrefAndId title=documentation.title content=documentation.content %}
            {% endfor %}
        {% endif %}
    {% else %}
        <h1>{{ page.title }}</h1>

        {{ content }}
    {% endif %}
</section>